MarbleRun/Content/StarterContent
MarbleRun/Intermediate/AssetRegistryCache
MarbleRun/Saved/Autosaves
*.bin
*.log

CrystalCavern/Content/StarterContent
CrystalCavern/Intermediate
CrystalCavern/Saved/
CrystalCavern/Content/ThirdPerson
CrystalCavern/Content/ThirdPersonBP
CrystalCavern/Content/ScienceLab
CrystalCavern/Content/Polar
CrystalCavern/Content/Mannequin